body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px;
}
div#map {
    float: left;
    width: 720px;
    height: 360px;
    border: 1px solid grey;
    background-color: #DDD;
}
div#sidebar {
    float: left;
    margin-left: 50px;
}
div.creature {
    display: block;
    width: 20px;
    height: 20px;
    font-size: 10px;
    position: absolute;
    background-image: url(../img/creature.png);
}
div.creature span {
    display: block;
}
div.tile {
    position: absolute;
    margin:0px;
    padding:0px;
}
div.tile.trees {
    background-image: url(../img/trees.png);
}
div.tile.snow {
    background-image: url(../img/snow.png);
}
div.tile.rock {
    background-image: url(../img/rock.png);
}
