body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px;
}
div#map {
    float: left;
    width: 720px;
    height: 360px;
    border: 1px solid grey;
    background-color: #DDD;
}
div#sidebar {
    float: left;
    margin-left: 50px;
}
div.creature {
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid grey;
    background-color: pink;
    font-size: 10px;
    position: relative;
}
div.creature span {
    display: block;
}
