body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px;
}
/*
div#map {
    float: left;
    width: 900px;
    height: 360px;
}
*/
div#sidebar {
    float: right;
    margin-right: 50px;
}
table.table{
    width: 550px;
}
div.base {
    display: block;
    width: 60px;
    height: 60px;
    font-size: 10px;
    position: absolute;
    background-image: url(../img/base.png);
}
div.mine {
    display: block;
    width: 40px;
    height: 60px;
    font-size: 10px;
    position: absolute;
    background-image: url(../img/mine.png);
}
div.creature {
    display: block;
    width: 20px;
    height: 20px;
    font-size: 10px;
    position: absolute;
    background-image: url(../img/creature.png);
}
div.creature span {
    display: block;
}
div.tile {
    position: absolute;
    margin:0px;
    padding:0px;
}
div.tile.trees {
    background-image: url(../img/trees.png);
}
div.tile.snow {
    background-image: url(../img/snow.png);
}
div.tile.rock {
    background-image: url(../img/rock.png);
}
div.tile.highlight {
    opacity:0.5;
}

